---
import "./index.css"

import type { Card } from "~types"

import Picture from "~components/Picture/index.astro"

export type Props = {
	items: Array<Card>
}

const { items = [] } = Astro.props
---

<>
	{
		items.map(({ blurb, href, image = {}, subtitle, title, year }) => {
			return (
				<a
					class="card"
					{href}
					rel="external"
				>
					<h2>
						{title} {year ? `(${year})` : null}
					</h2>
					{subtitle ? <p class="subtitle">{subtitle}</p> : null}
					{blurb ? (
						<p
							class="blurb"
							set:html={blurb}
						/>
					) : null}
					{image ? <Picture {...image} /> : null}
				</a>
			)
		})
	}
</>
