---
import "./styles/global.css"
import "./styles/local.css"

import type { AstroInstance } from "astro"
import type { PageMeta } from "~types"

import Footer from "~components/Footer/index.astro"
import GlobalNav from "~components/GlobalNav/index.astro"
import Head from "~components/Head/index.astro"
import Header from "~components/Header/index.astro"
import Html from "~components/Html/index.astro"

export type Props = {
	author?: string | undefined
	description?: string | undefined
	keywords?: Array<string> | undefined
	publisher?: string | undefined
	robots?: string | undefined
	title?: string | undefined
}

const { author, description, keywords, publisher, robots, title } = Astro.props

const pages = Object.values(
	import.meta.glob("../pages/**/*.astro", { eager: true }),
) as Array<AstroInstance & { metadata: PageMeta }>

const content = await Astro.slots.render("default")
---

<Html>
	<Head
		{author}
		{description}
		{keywords}
		{publisher}
		{robots}
		{title}
	>
		<slot name="head" />
	</Head>

	<body>
		<Header />
		<GlobalNav {pages} />
		<main id="main">
			<Fragment set:html={content} />
		</main>
		<Footer />
		<slot name="tail" />
	</body>
</Html>
